@using medicine.Models.Entity
@using PagedList
@using PagedList.Mvc
@model PagedList.IPagedList<Tbl_Siparisler>

@{
    ViewBag.Title = "Siparisler";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <!-- column -->
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Siparişler</h4>
                        <div class="clearfix">
                            <div class="float-start mb-3 mt-3">
                                <button type="button" class="btn btn-primary" data-bs-target="#siparisOlustur" data-bs-toggle="modal">Sipariş Oluştur</button>
                            </div>
                            <div class="float-end mb-3 mt-3">
                                @Html.PagedListPager((IPagedList)Model, sayfa => Url.Action("Siparisler", new { sayfa }), new PagedListRenderOptions
                                {
                                    LiElementClasses = new List<string>
                                    { "page-link"}
                                })
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table user-table table-hover" style="table-layout: fixed;" align="center">
                                <thead align="center">
                                    <tr>
                                        <th class="border-top-0">Sipariş Adı</th>
                                        <th class="border-top-0">Tarih</th>
                                        <th class="border-top-0" colspan="3">İşlemler</th>
                                    </tr>
                                </thead>
                                @foreach (var x in Model)
                                {
                                    <tbody align="center">
                                        <tr>
                                            <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@x.SIPARISADI</td>
                                            <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">@x.TARIH</td>
                                            <td><a class="btn btn-outline-success" href="/Siparis/UrunEkle/@x.ID">Ürün Ekle</a></td>
                                            <td><a class="btn btn-outline-warning" href="/Siparis/SiparisDetay/@x.ID">Detay</a></td>
                                            <td>@Html.ActionLink("Sil", "SiparisSil", new { id = x.ID }, new { @class = "btn btn-outline-danger", onclick = "return confirm('Siparisişi Silmek İstediğinize Emin Misiniz?')" })</td>
                                        </tr>
                                    </tbody>
                                }
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="siparisOlustur" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sipariş Oluştur</h4>
                <button class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <form method="post" action="/Siparis/SiparisOlustur">
                <div class="modal-body">
                    <div class="form-floating">
                        <input type="text" class="form-control" name="SIPARISADI" id="siparisAdi" placeholder="Sipariş adını giriniz.." />
                        <label for="siparisAdi">Sipariş Adı</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary">Sipariş Oluştur</button>
                </div>
            </form>
        </div>
    </div>
</div>