@model medicine.Models.Entity.Tbl_Admin

@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-wrapper">
    <div class="container-fluid">
        <form class="mb-5" method="post">
            <div class="row g-3">
                @Html.HiddenFor(x => x.ID)
                <div class="col-4">
                    <label for="kullanıcıAdi" class="form-label">Kullanıcı Adı</label>
                    @Html.TextBoxFor(x => x.KULLANICIADI, new { @class = "form-control form-control-lg bg-white", @id = "kullanıcıAdi", @placeholder = "Kullanıcı adı.." })
                </div>
                <div class="col-4">
                    <label for="parola" class="form-label">Parola</label>
                    @Html.TextBoxFor(x => x.PAROLA, new { @class = "form-control form-control-lg bg-white", @id = "parola", @placeholder = "Parola.." })
                </div>
                <div class="col-4">
                    <label for="yetki" class="form-label">Yetki</label>
                    <select name="YETKI" class="form-select form-select-lg">
                        <option value="Admin">Admin</option>
                        <option value="Personel">Personel</option>
                    </select>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-warning btn-lg float-end">Güncelle</button>
                </div>
            </div>
        </form>
    </div>
</div>